<form class>
  <div class="form span4">
    <label class="checkbox">
      <input type = "checkbox" name = "GreatValue", class = "great-value">Select Great Value<br>
    </label>
  </div>

  <div class="form">
    <label class="checkbox span4">
      <input type = "checkbox" name = "TopRated", class = "top-rated">Select Top Rated<br>
    </label>
  </div>

</form>

<% @response.each do |r| %>
  <% if (r["percentSavings"] < 40) && (r["starRating"] < 3) %>
    <div class = "deal low-val low-star">
  <% elsif (r["percentSavings"] < 40) %>
    <div class = "deal low-val high-star">
  <% elsif (r["starRating"] < 3) %>
   <div class = "deal low-star high-val">
  <% else %>
    <div class = "deal">
  <% end %>
      <span class = "name"><%= r["name"] %></span><br/>
      <span class = "city"><%= r["city"] %></span><br/>
      <span class = "starRating">Rating: <%= r["starRating"] %>/4.0</span></br>
      <% if r["percentSavings"] > 0 %>
        <span class = "percentSavings"><%= r["percentSavings"] %>% off normal rates!</span></br>
      <% end %>
      <span class = "photo"><img src="<%=r['imageUrl']%>"></span>

      <!-- Button trigger modal -->
      <a data-toggle="modal" href="#myModal<%=r["hotelId"]%>" class="btn btn-primary btn-lg">Find out more!</a>
  
      <!-- Modal -->
      <div class="modal hide fade" id="myModal<%=r["hotelId"]%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title"><%= r["name"] %></h4>
        </div>
        <div class="modal-body">
          <span class = "photo"><img src="<%=r['imageUrl']%>"></span><br/>
          <span class = "longDestinationName"><%= r["longDestinationName"] %></span><br/>
          <span><%= r["description"] %></span><br/>
          <span class="cost">Cost: Only $<%= r["totalRate"] %> per night!</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal -->
    </div>    
<% end %>
  
