<p><input type="text" data-source="@response"></p>

<% @response.each do |r| %>
  <div class = "deal">
    <span class = "name"><%= r["name"] %></span>
    <span class = "city"><%= r["city"] %></span>
    <span class = "starRating"><%= r["starRating"] %></span>

    <!-- Button trigger modal -->
    <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Find out more!</a>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><%= r["name"] %></h4>
          </div>
          <div class="modal-body">
            <%= r["longDestinationName"] %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>  
<% end %>

