<%= render 'deals/search' %>

<% @response.each do |r| %>
  <% if (r["percentSavings"] < 40) && (r["starRating"] < 3) %>
    <div class = "deal low-val low-star">
  <% elsif (r["percentSavings"] < 40) %>
    <div class = "deal low-val">
  <% elsif (r["starRating"] < 3) %>
   <div class = "deal low-star">
  <% else %>
    <div class = "deal">
  <% end %>
    <span class = "name"><%= r["name"] %></span>
    <span class = "city"><%= r["city"] %></span>
    <span class = "starRating"><%= r["starRating"] %></span>
    <span class = "photo"><img src="<%=r['imageUrl']%>"></span>

    <!-- Button trigger modal -->
    <a data-toggle="modal" href="#myModal<%=r["hotelId"]%>" class="btn btn-primary btn-lg">Find out more!</a>

    <!-- Modal -->
    <div class="modal fade" id="myModal<%=r["hotelId"]%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><%= r["name"] %></h4>
          </div>
          <div class="modal-body">
            <%= r["longDestinationName"] %>
            <%= r["country"] %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>  
<% end %>

